{% extends "layouts/base_app.html" %}

{% block app %}
    {% include "components/navbar/navbar.html" %}
    <div class="container-fluid p-0">
        <div class="row g-0 justify-content-center">
            <main class="col-12" style="min-height: calc(100vh - 56px);">
                <div class="container py-4">
                    {% block content %}
                    {% endblock %}
                </div>
                {% include "components/footer/footer.html" %}
            </main>
        </div>
    </div>
{% endblock app %}