<div class="d-grid gap-2 mb-3">
    <button type="button" class="btn btn-outline-primary">
        <i class="fab fa-facebook-f me-2"></i> Continuar con Facebook
    </button>
    <button type="button" class="btn btn-outline-danger">
        <i class="fab fa-google me-2"></i> Continuar con Google
    </button>

{#    {% load socialaccount %}#}
{#    <a href="{% provider_login_url 'facebook' %}" class="btn btn-outline-primary">#}
{#        <i class="fab fa-facebook-f me-2"></i> Continuar con Facebook#}
{#    </a>#}
{#    <a href="{% provider_login_url 'google' %}" class="btn btn-outline-danger">#}
{#        <i class="fab fa-google me-2"></i> Continuar con Google#}
{#    </a>#}
</div>